.actionsContainer {
  display: flex;
  justify-content: center;
}
.actionsContainer div {
  padding: 32px;
}

#resetGame {
  margin-left: 1rem;
}

.gameStatus > p {
  text-align: center;
}

.numWins {
  display: flex;
  justify-content: space-between;
  margin: 0px 1rem;
}
